---
---
<div class="text-justify">
    {{reference}}
</div>

{% if entry.abstract %}
<details style="margin-top: 10px;">
    <summary style="cursor: pointer; color: #0066cc;"><strong>Abstract</strong></summary>
    <div style="margin-top: 10px; padding: 10px; background-color: #f5f5f5; border-left: 3px solid #0066cc;">
        {{ entry.abstract }}
    </div>
</details>
{% endif %}

{% if entry.note %}
<div>
    <em>{{ entry.note }}</em>
</div>
{% endif %}

<div>
    {% if entry.doi %}
    <span><a href="{{ entry.doi | prepend: 'http://doi.org/' }}">DOI</a></span>
    {% endif %}
    {% if entry.hal_id %}
    <span><a href="{{ entry.hal_id | prepend: 'http://hal.inria.fr/' }}">HAL</a></span>
    {% endif %}
</div>